@import url("https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap");

* {
    margin: 0;
    padding: 0;

    font-family: 'General Sans', sans-serif;
}

.header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100px;

    z-index: 1;
}

.buttons {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2.25vw;
    list-style: none;
    font-size: 1.25vw;
    font-weight: 100;
    z-index: 1;
}

.navbutton a{
    position: relative;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 6vw;
    height: 2vw;
    background-color: black;
    color: white;
    border: 0.1em solid black;
}

.active a{
    background-color: white;
    color: black;
    font-weight: 150;
}

.active a:before {
    content: '';
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    width: 100%;
    height: 100%;

    background-color: black;

    z-index: -1;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    -webkit-mask-image: url(assets/logo.svg);
    mask-image: url(assets/logo.svg);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: rgb(240, 240, 240);

    z-index: -1;
}

.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    z-index: 0;
}

.main-box {
    width: 50%;
    aspect-ratio: 16 / 9;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0vw;

    background: white;
    border: 0.25vw solid black;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    transition: all 200ms ease;
}

.main-box:before {
    content: '© Spektacle 2024';
    font-size: 1vw;
    color: white;

    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    text-align: center;
    align-items: end;
    justify-content: center;
    font-weight: 300;
    line-height: 2vw;

    left: 2vw;
    top: 2vw;

    background: black;
    border: 0.25vw solid black;

    transition: all 200ms ease;

    z-index: -1;
}

.main-box:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    right: 2vw;
    bottom: 2vw;

    background: white;
    border: 0.25vw solid black;

    transition: all 200ms ease;

    z-index: -1;
}

.main-box > h1 {
    display: flex;
    flex-direction: column;
    position: relative;

    font-size: 5.75vw;
    text-align: center;
    font-weight: 600;

    -webkit-text-stroke: 0.25vw black;

    transition: all 200ms ease;

    z-index: 1;
}

.main-box > .outline:after {
    content: attr(data-text);
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: 0px #000;
}

.main-box > .outline {
    color: white;
}

.main-box:hover {
    gap: 0.5vw;
}

.main-box:hover:before {
    left: 3vw;
    top: 3vw;
}

.main-box:hover:after {
    right: 3vw;
    bottom: 3vw;
}
