@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
    color: #EFEFEF;

    --background-color: rgb(17, 17, 27);
    --green-bg-color: rgb(80, 210, 115);
    --secondary-color: rgb(26, 26, 26);
    --tertiary-color: rgb(51, 51, 51);
    --quadratic-color: rgb(86, 86, 86);

    text-align: center;

    cursor: none;
}

html {
    background: black;
}

body {
    background: rgba(20, 20, 20, 1);
    background-attachment: fixed;
}

span {
    z-index: 1;
}

/* ASSETS */

#trailer {
    height: 20px;
    width: 20px;
    /*background-color: lightgray;*/
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer {
    opacity: 1;
}

#trailer2 {
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer2 {
    opacity: 1;
}

.separator {
    height: 1px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -o-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -moz-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -webkit-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
}

.logo {
    mask: url(img/Spektacle.svg) no-repeat center;
    -webkit-mask: url(img/Spektacle.svg) no-repeat center;
    background-color: white;
}

.rounded-logo {
    mask: url(img/logo-round.png) no-repeat center;
    -webkit-mask: url(img/logo-round.png) no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: white;
}

.logo-main {
    height: 300px;
    aspect-ratio: 1;
    transition: all 1s ease;
}

.logo-main:hover {
    transform: scale(1.1) rotate(-5deg);
}

.logo-large {
    width: 100px;
    aspect-ratio: 1;
}

.logo-med {
    width: 75px;
    aspect-ratio: 1;
}

img.emoji {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
    pointer-events: none 
}

.header {
    padding-top: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbutton {
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.navbutton:not(.is-active):after {
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    height: 2px;
    bottom: 0;
    background: white;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.navbutton:not(.is-active):hover:after {
    width: 100%;
}

.is-active {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.padding {
    height: 50px;
}

.landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.aboutme {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
