@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    color: #EFEFEF;

    --background-color: rgb(17, 17, 27);
    --green-bg-color: rgb(80, 210, 115);
    --secondary-color: rgb(26, 26, 26);
    --tertiary-color: rgb(51, 51, 51);
    --quadratic-color: rgb(86, 86, 86);
}

body {
    background-color: var(--background-color);
    padding-top: 120px;
}

span {
    z-index: 1;
}

/* ASSETS */

.separator {
    height: 1px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -o-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -moz-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
    background-image: -webkit-linear-gradient(left , rgba(0, 0, 0, 0) 2%, #FFFFFF 50%, rgba(0, 0, 0, 0) 98%);
}

.logo {
    mask: url(img/Spektacle.svg) no-repeat center;
    -webkit-mask: url(img/Spektacle.svg) no-repeat center;
    background-color: whitesmoke;
}

.logo-large {
    width: 100px;
    aspect-ratio: 1;
}

.logo-med {
    width: 75px;
    aspect-ratio: 1;
}

img.emoji {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
    pointer-events: none 
}

.header > .bg {
    display: flex;
    z-index: -9999;
    inset: 0;
    position: absolute;
    align-items: center;
    justify-content: right;
    background: var(--green-bg-color);
}

.slice::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: var(--tertiary-color);
    transform-origin: bottom right;
    translate: 0px -50px;
    box-shadow: 0px 0px 50px black;
}

.slice {
    width: 100%;
    min-width: 500px;
    height: 200%;
    background: var(--secondary-color);
    transform-origin: bottom right;
    rotate: 45deg;
    translate: 0px 100px;
    box-shadow: 0px 0px 50px black;
}

.slice::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: var(--quadratic-color);
    transform-origin: bottom right;
    translate: 0px -100px;
    box-shadow: 0px 0px 50px black;
}

/* STAGING */

.header {
    height:100px;
    inset: 10px;
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 50px black;
    justify-content: space-between;
    z-index: 99;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 25px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.header-buttons::-webkit-scrollbar {
    display: none;
}

.header > .logo {
    margin-right: 25px;
}

.landing {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stack {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbutton {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    width: 100px;
    min-height: 50px;
    height: 50px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    transition: 0.2s;
}

.navbutton:hover {
    background-color: var(--quadratic-color);
}

.nb-active, .nb-active:hover {
    background-color: white;
    color: var(--secondary-color);
    border-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.hamburger {
    margin-left: 25px;
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    transform-origin: left center;
    display: block;
    border-radius: 35px;
    overflow: hidden;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger:hover .bar {
    transform: translate(-10px, 0px);
}

.hamburger.is-active:before {
    transform: translate(0px, -1px) rotate(45deg);
}

.hamburger.is-active:after {
    transform: translate(0px, 1px) rotate(-45deg);
}

.hamburger.is-active .bar {
    transform: translate(-35px, 0px);
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: fixed;
    z-index: 98;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 300px;
    padding-top: 150px;
    background: var(--secondary-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
}

.mobile-nav.is-active {
    top: 0;
}

.mobile-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mobile-navbutton {
    width: 75vw;
}

@media screen and (max-width: 650px)
{
    .header-buttons {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
